{% extends 'base.html' %}
{% load static %}
{% block population_nav_class %}active{% endblock %}
{% block title %}States{% endblock %}
{% block content %}
<div class="chart-container">
    <div class="chart-title">States</div>
    <svg class="chart"></svg>
</div>
{% endblock %}
{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.6/d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
<script src="{% static 'js/states.js' %}"></script>
{% endblock extra_js %}